* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #E59934;
    --background-color: #2C272E
}

a {
    text-decoration: none;
}

a:visited, a:active, a:link  {
    color: black;
}

body {
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
}